body {
  padding: 20px;
  text-align: center;
}

h2 {
  margin-top: 0;
}

.muted {
  margin-right: 10px;
}

p.lead strong {
  font-weight: inherit;
  background-color: #ff9; 
  padding: 3px 6px;
}

#settings-clear button {
  margin: 40px 0 5px 0;
}

.alert {
  text-align: left;
  width: 30%;
  margin: 0 auto 40px auto;
}

#diagnostics-area {
  width: 50%;
  margin: 30px auto 30px auto;
  text-align: center;
  font-size: 14px;
}

#diagnostics-links {
  margin-bottom: 20px;
  color: #ccc;
}

#diagnostics-links a {
  color: #999;
  padding: 0 5px;
}

#diagnostics {
  cursor: pointer;
}

#diagnostics-area .alert {
  width: auto;
}

#error-too-many, #allow-too-many {
  text-align: center;
  padding-top: 15px; /* room to breathe */
  margin: 25px auto 30px auto;
  font-size: 18px;
  line-height: 24px;
  width: 600px;
 
}

#error-too-many p, #allow-too-many p {
  margin-bottom: 10px; /* override #settings p above */
}

#error-too-many p:first-child, #allow-too-many p:first-child {
  margin-bottom: 7px; /* because Zarino is a perfectionist */
}

