body {
  padding: 20px;
  text-align: center;
}

h2 {
  margin-top: 0;
}

.muted {
  margin-right: 10px;
}

p.lead strong {
  font-weight: inherit;
  background-color: #ff9; 
  padding: 3px 6px;
}

#settings-clear button {
  margin: 40px 0 5px 0;
}

